<app-navbar></app-navbar>

<div style="background-color:rgb(21, 21, 22) ;" class=" continer product-container">
  <h1 class="text-light fw-bolder">----All Products----</h1>

  <!-- Cool Loading Animation -->
  <div *ngIf="isLoading" class="loader-container">
    <div class="loader"></div>
    <p>Loading products...</p>
  </div>

  <!-- Product Grid (only show after loading completes) -->
  <div *ngIf="!isLoading" class="product-grid container" >
    <div class="product-card" *ngFor="let product of products">
      <img [src]="product.thumbnail" [alt]="product.title" />
      <h3>{{ product.title }}</h3>
      <p>{{ product.description }}</p>
      <p><strong>${{ product.price }}</strong></p>
      <button (click)="viewProduct(product.id)">Full Details</button>
    </div>
  </div>
</div>

<app-footer></app-footer>