header{
  padding: 0px 70px 0px 70px;
  div{
    background-color: rgb(176, 10, 10);
  }
  .header-text
  {
    padding-left: 5%;
  
    width: 50%;
    max-width: 400px;
    font-size: 2rem;
    text-wrap: wrap;
    display: flex
;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}

section
{
  padding: 0px 70px 0px 70px;
  div{

    background-color: rgb(176, 10, 10);
  }
}

.final-section
{
  padding: 0px 70px 0px 70px;
  div{
    background-color:rgb(176, 10, 10);
  }
}